<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-controller" version="1.7.3">
  <name>Controller</name>  
  <js-module name="Controller" src="www/Controller.js"> 
    <clobbers target="cordova.plugins.Controller"/> 
  </js-module>  
  <platform name="android"> 
    <config-file parent="/*" target="res/xml/config.xml"> 
      <feature name="Controller"> 
        <param name="android-package" value="com.mumatech.controller.Controller"/> 
      </feature> 
    </config-file>  

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
<!--      <receiver android:name="com.mumatech.controller.PolicyServiceBroadcastReceiver" >-->
<!--        <intent-filter>-->
<!--          <action android:name="com.mumatech.policyservice.action.UNLOCK_RESULT" />-->
<!--          <action android:name="com.mumatech.policyservice.action.LOCK_RESULT" />-->
<!--        </intent-filter>-->
<!--      </receiver>-->
      <service
          android:name="com.mumatech.controller.PolicyService"
          android:enabled="true"
          android:exported="true"
      >
          <intent-filter>
              <action android:name="com.mumatech.actions.LOCK_CONTROLLER"/>
          </intent-filter>
      </service>
    </config-file>

    <config-file parent="/manifest" target="AndroidManifest.xml">
      <uses-permission android:name="policy.stm_status.Read" />
    </config-file>

    <source-file src="src/android/Controller.java" target-dir="src/com/mumatech/controller"/>
    <source-file src="src/android/ControllerError.java" target-dir="src/com/mumatech/controller"/> 
    <source-file src="src/android/ConfigHelper.java" target-dir="src/com/mumatech/controller"/> 
    <source-file src="src/android/PolicyServiceBroadcastReceiver.java" target-dir="src/com/mumatech/controller"/>
    <source-file src="src/android/AndroidUtil.java" target-dir="src/com/mumatech/controller"/> 
    <source-file src="src/android/PolicyService.java" target-dir="src/com/mumatech/controller"/>
  </platform>
</plugin>
